version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "auto update"
      - "infrastructure"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "chore"
      include: "scope"
    rebase-strategy: "disabled"

  - package-ecosystem: "pip"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "auto update"
      - "infrastructure"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "chore"
      include: "scope"
    allow:
      - dependency-type: "direct"
    rebase-strategy: "disabled"
